
PLOTS/
LSFJOB_*
LSFJOBS/
*.d
*.so
bin
obj
*.root
*.pdf
*.png
plot_*
data_*
plots/
root_histograms/
*_out
*_for_weight*
geometry_of_detector
*.log
layer_weights*
output*
data_total_energies*
data_calibrations*
data_fits*
analyzed_data_means_and_rmses*
data_resolutions*
et_3_5_10_30*
et_50_70_100_150*
fractional_difference_histograms*
